[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
torch = "*"
wikipedia = "*"
transformers = "*"
pipreqs = "*"
seaborn = "*"
missingno = "*"
openpyxl = "*"
plotly = "*"
openai = "*"
streamlit-chat = "*"
st-pages = "*"

[dev-packages]

[requires]
python_version = "3.11"
